*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
  }
  body{
    /*     font-family: 'Robot', sans-serif;
     */    display: flex;
       /*  solucion para el footer */
        flex-direction: column;
        min-height: 100vh;
        /* otra solucion */
       /*  grid-template-rows: auto 1fr auto ; */
}

header {
    display: flex;
    width: 100%;
    max-width: 1150px;
    /* min-width: 320px; */
    margin: 0 auto;
    justify-content: center;
}

.logo{
    font-size: 4.5rem;
    font-weight: 500;
    color: var(--accent-clr);
    border: 4px solid #070707;
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: color 0.35s ease-in-out;
 
    
    
}

.logo:hover{
    cursor: pointer;
}

.navbar{
    width: 90%;
    max-width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.menuhamburger,.close {
    height: 24px;
    width: 24px;
}
.nav__toggle {
    cursor: pointer;
    margin: 1rem;
    right: 0;
  }
  
 /*  .nav__toggle .close {
    display: none;
  } */
  .nav__toggle .close,
  .nav__toggle .menu {
    margin-top: 0.3rem;
  }


 /*  #nav__checkbox:checked ~  .nav__toggle .menuhamburger {
    display: none;
  }
    #nav__checkbox:checked ~  .nav__toggle .close {
      
      display: block;
    } 
     #nav__checkbox:checked ~ .navbar-list {
      
      right: 0;
      align-items: left;
    } */

    



  
  
/* .navbar-right{
    display: flex;
    justify-content: space-between;
}
.navbar-right ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    display: none;
}

.navbar-right ul li:hover{
    cursor: pointer;
}
 */
 .navbar-list {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: fixed;
    max-width: 80vw;
    align-items: left;
    right: -83vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    background-color: rgb(194, 189, 189);
    opacity: 0.95;
 }
 .showMenu {
    right: 0;
    align-items: left;
}
.inactive {
    display: none;
}
 .navbar-right ul li{
    margin: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    
}

.navbar-right ul li a:hover{
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    color:rgb(117, 167, 243)
}
.menu {
    width: 24px;
    height: 24px;
    display: block;
}  

main{
    width: 100%;
    margin: 0 auto;
    max-width: 1150px;
    height: auto;
   /*  display: flex;
    flex-direction: column;
    justify-content: space-between; */
    
}

.main-container{
    /* display: flex;
    justify-content: space-between; */
    width: 90%;
    margin: 0 auto;
   
}
.main-container--info{
    width: 100%;
    /* min-width: 288px; */
    /* max-width: 650px; */
    padding-top: 30px;
}
.main-container--info h1{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1;
    
}
.subTittle {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 10px;
}

.main-container--info p{
    font-size: 1.6rem;
    line-height: 1;
    margin: 20px 0;
}

.custom-cta {
    padding: 6px;
    height: 40px;
    background: var(--bg-light-color);
    display: inline-flex;
    align-items: center;
    border-radius: 40px;
  }
  .custom-cta svg {
    fill: var(--text-clr);
    margin: 0;
    width: 0;
    padding: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .custom-cta span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-clr);
    /* background: var(--accent-clr); */
    background-image: linear-gradient(
      135deg,
      #ffff77 0,
      #fff14e 25%,
      #f8d110 50%,
      #deb100 75%,
      #c79500 100%
    );
    padding: 0 1.5em;
    font-size: 13px;
    height: 28px;
    border-radius: 28px;
  }
  
  .custom-cta:hover svg {
    width: 1em;
    height: 1em;
    margin: 6em 0.8em;
  }

picture {
    width: 250px;
    height:250px;
}


.main--img{
    /* width: 300px; */
    width: 100%;
    min-width: 50%;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
    display: none;
}

.main-links{
    margin: 20px 0;
}
.main-link {
    padding: 10px 20px;   
    border-radius: 10px;
    margin: 10px 5px;
}

.contact--btn{
    color: white;
    background-color: salmon;
}
.about--btn{
    text-decoration: underline;
}

.main--socialmedia{
   
}

.items {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.items div { 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 0;
}
.item--name {
    font-size: 1.92rem;
    text-transform: uppercase;
    text-align: center;
}
.item--name span { 
    font-size: 1.36rem; 
    font-weight: 500;
    text-align: center;
    display: block;
    
}



.main--socialmedia li {

    width: 100%;
}

/* .main--socialmedia h2{
    font-size: 10px;
    margin-right: 10px;
    text-align: center;
} */
.about-section {
    width: 90%;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 96px;
   /*  min-width: 288px; */
}
.about-section h2 {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 42px;
    max-width: 900px;
}
.about-section p {
    font-size: 1.6rem;
    font-weight: 400;
}
.projects-section {
    width: 90%;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 96px;
    
    
}

.projects-section--tittle {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 42px;
   /*  min-width: 288px; */
    max-width: 900px;
}
.project-section--container {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    /* min-width: 288px; */
    max-width: 1150px;
    margin: 0 auto;
}
.work-card {
    height: auto;
    padding: 16px;
    border-radius: 5px;
    margin-bottom: 22px;
    background-color: rgb(194, 189, 189);
    opacity: 0.95;
}
.work-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.folder{
    height: 32px;
}
.work-top span svg {
    height: 20px;
}
.work-tittle {
    font-size: 2.4rem;
    font-weight: 500;
}

.project-img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 270px;
}

.project--img{
    width: 100%;
    object-fit: contain;
    border-radius: 15px 15px 0 0 ;
}

.project--description{
    font-size: 1.6rem;
    font-weight: 400;
    padding: 10px;

}
.project--tecnology{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;

}
.project--tecnologyItem{
    padding: 5px 15px;
    border-radius: 15px;
/*     margin-right: 15px;
 */    background-color: rgb(100, 98, 98);

}


.cardContainer{
   display: grid;
   grid-template-columns: 100%;
    background-color: red;
}
.cardPrueba {
    height: auto;
    background-color: aquamarine;
}
.cardPrueba p {
    font-size: 2rem;
}


















.fa-brands{
    font-size: 50px;}
.socialmedia-list{
    font-size: 25px;
}

.contact,.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: 20px auto;
}
.contact h1{
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
  margin-top: auto;
}
footer p{
    text-align: center;
}
  /* genericlist */

  .genericList-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 32px 24px;
  }
  
  .genericList-container .movie-container {
    display: inline-block;
    width: 47.5%;
  }
  
  .genericList-container .movie-img {
    width: 100%;
  }
  .inactive {
    display: none;
  }
.technologies-section {
    width: 90%;
    margin: 0 auto;
}
.technologies-section h1 {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 30px;
    /* min-width: 288px; */
    max-width: 900px;

}
.contact-container p{
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.technologies-img--container{
    min-width: 100px;
    min-height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
/*     justify-content: space-between;
 */    margin-bottom: 30px;
}
.img-html {
    width: 100%;
    height: 100%;
    background-image: url('./assets/Icons/cdnlogo.com_html.svg');
    background-size: contain;
    background-position: center ;
    background-repeat: no-repeat;
}
.img-css {
    width: 100%;
    height: 100%;
    background-image: url('./assets/Icons/cdnlogo.com_css.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.img-js {
    width: 100%;
    height: 100%;
    background-image: url('./assets/Icons/js.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.tech-name{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    
}
  @media (min-width: 650px){
    .project-section--container {
        grid-template-columns: 1fr 1fr;
        gap: 1%;
      
    } 
    .cardContainer {
        grid-template-columns: 1fr 1fr;
        gap: 1%;
    }
    
    .img-html,
    .img-css,
    .img-js{
        min-width: 200px;
        min-height: 200px;
    }
    .tech-name{
        font-size: 2rem;
    }
  }
  @media (min-width: 768px) {
   
    .project-section--container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1%;
      
    } 
    .cardContainer {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1%;
    }
    
    .close {
        display: none;
    }
    /* .navbar-right{
    display: flex;
    justify-content: space-between;
}
.navbar-right ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    display: none;
}

.navbar-right ul li:hover{
    cursor: pointer;
}
 */
 
    .nav__checkbox, .nav__toggle {
        display: none;
    }
   
    .navbar-list{
        padding: 0;
        margin: 0;
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;
       
    }
    .navbar-right ul li:hover{
        cursor: pointer;
    }
    .main-container--info h1 {
        font-size: 7rem;
    }
    .subTittle {
        font-size: 4rem;
    }
  }
  
  @media (min-width: 800px) {
    .items {
        display: flex;
        justify-content: space-between;
    }
    .items div  {
        flex-direction: row;
    }
    .items div i {
        margin: 0 20px 0 0;
    }
    .item--name {
        text-align: left;
    }
    .item--name span{
        text-align: left;
    }
  }



  /* @media (max-width: 768px){
    
    .navbar-right ul {
        display: none;
    }
    .main--img {
        display: none;
    }
  }
 */
 @media (min-width: 1024px){
    .main-container {
        display: flex;
    }
    .main--img {
        display: block;
    }

  }


  
  